* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #57534e;
}
body {
  background-color: #f1f5f9;
  scroll-behavior: smooth;
}

/* back grounds  */
.black-lined-bg {
  background: linear-gradient(90deg, transparent 50%, #393838 50%);
  background-size: 3em 3em;
  background-color: #262323;
  opacity: 1;
}
/* fonts */

.logo-font {
  font-family: "Black Ops One", cursive;
}

.desc-font {
  font-family: "Montserrat", sans-serif;
}

/* shadow */

.shadowing {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.746);
}

/* gradient */

.gradient-yellow-grey {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    41deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 223, 59, 1) 0%,
    rgba(241, 245, 249, 1) 58%
  );
}

/* grids */

.home-grid {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.shop-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.detailed-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* for table */

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}


/* bluring */

.blur-backdrop {
  background-color: rgba(250, 204, 21, 0.7);
}



/* mfucking transition */



